body {
    font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dfeffe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #343a40;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    color: #495057;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logout-btn {
    margin-top: 20px;
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    width: 20%;
}

.logout-btn:hover {
    background-color: #c82333;
}

.btn-kjg {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    width: 20%;
}

.btn-kjg:hover {
    background-color: #0056b3;
}

.btn-kjg a {
    color: #fff;
    text-decoration: none;
}